        *{
            box-sizing: border-box;
        }
        #container{
            max-width: 1396px;
            margin: 0 auto;
            position: relative;
        }
        a {
            text-decoration: none;
            color: darkslategray;
        }
        header {
            width: 100%;
            background-color: #FFF;
            margin: 3.125em 0;
        }
        nav{
            width: 100%;
        }
        #menu-button-mobile{
            display: inline;
            height: 1.9375em;
            position: absolute;
            top: 0;
            right: 0;   
        }
        #mobile-header-section{
            position: relative;
        }
        #menu-button-mobile:hover + #menu-list-moblile-section {
            display: block;
        }
        #menu-list-moblile-section{
            display: none;
        }
        #menu-title-desktop:hover + #menu-table-desktop-section {
            display: block;
        }
        #menu-table-desktop-section{
            display: none;
        }
        #header-title-link, #header-title-link-desktop{
            display: inline;
            color: black;
            text-decoration: none;
            font-size: 1.375em;
            letter-spacing: -0.0625em;
            margin: 0;
            padding: 0;
        }
        .line-div {
            background-color: #222;
            width: 1.9375em;
            height: 0.1875rem;
            margin: 3px 0;
        }
        #desktop-header-section{
            display: none;
            position: relative
        }
        #menu-title-desktop{
            display: inline;
            color: black;
            text-decoration: none;
            font-size: 1.2em;
            letter-spacing: -0.0625em;
            margin: 0;
            padding: 0;
            float: right;
            width: 200px;
            margin-right: calc(66.66666666% - 230px);
            position: absolute;
            top: 0;
            left: calc(33.333333% + 30px);
        }
        #header-title-link-desktop{
            margin-left: 15px;
        }
        /************* End of header ****************/
        
        /***** menu-items-mobile *******/
        #menu-list-mobile{
            padding: 0;
            list-style-type: none;
            border-top: 0.1em solid lightgray;
        }
        #menu-list-mobile li{
            border-bottom: 0.1em solid lightgray;
            white-space: nowrap;
            width: 100%;
        }
        #images-section{
            padding-top: 40px;
            clear: both;
            -webkit-column-count: 2;
            -moz-column-count: 2; /* Firefox */
            column-count: 2;
            -moz-column-gap: normal;
            -webkit-column-gap: normal;
            column-gap: normal;
            width: 100%;
        }
        .image-div{
            width: 100%;
            height: 1%;
        }
        .image-div:nth-child(odd){
            padding: 0 0.75em 0.75em 0;
        }
        .image-div:nth-child(even){
            padding: 0 0 0.75em 0.75em;
        }
        .image-div img{
            width: 100%;
            -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
            filter: grayscale(100%);
        }
        
        #columns-div-wrapper-disktop{
            width: 0;
            height: 0;
            display: inline;
        }
        .column-div{
            width: 1px;
            height: 100%;
            background-color: lightgray;
            margin: 0;
            padding: 0;
            margin-left: calc(16.6666666% - 1px);
            float: left;
        }
        
        #menu-table-desktop-section{
            display: inline;
            position: relative;
            width: 100%;
            clear: both;
        }
        
        .desktop-list_div{
            width: 16.666666666666%;
            padding: 0;
            padding-left: 20px;
            margin: 0;
            float: left;
        }
        .desktop-list_title{
            font-size: 1.0em;
        }
        nav ul{
            padding: 0;
            list-style-type: none;
        }
        #menu-table-desktop-section{
            display: none;
        }
        
        #showcase-section-desktop{
            display: none;
            width: 100%;
            clear: both;
        }
        #showcase-title{
            float: left;
            width: 200px;
        }
        #showcase-des-desktop{
            float: left;
            width: calc(100% - 230px);
            padding-right: 4%;
            padding-left: calc(33% - 170px);
        }
        #showcase-des-desktop p{
            max-width: 600px;
        }
        #showcase-section-mobile{
            clear: both;
        }
        
        /*********************** end of default css (mobile) *************/
        
        @media (min-width: 769px){
            #columns-div-wrapper-disktop{
                width: 100%;
                max-width: 1400px;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
            #images-section{
                padding-top: 70px;
                -webkit-column-count: 3;
                -moz-column-count: 3; /* Firefox */
                column-count: 3;
            }
            #menu-list-moblile-section,
            #menu-button-mobile,
            #showcase-section-mobile,
            #mobile-header-section{
                display: none;
            }
            #desktop-header-section,
            #showcase-section-desktop{
                display: block;
            }
            .image-div{
                width: 100%;
                padding: 0.75em;
            }
            .image-div:nth-child(1n){
                padding: 0.75em;
            }
        }
        @media (min-width: 1397px){
            #container{
                max-width: 1400px;
                padding: 0 4px;
                border-left: 1px solid lightgray;
                border-right: 1px solid lightgray;
            }
        }